@use 'variaveis';

.shows {
    padding: 2vw 5.6vw;
    min-height: 25vw;

    h2 {
        text-align: center;
        padding: 48px 0;
    }

    &__list {
        margin-top: 44px;
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;

        &--is-active {
            display: grid;
        }

        &__item {

            img {
                max-width: 100%;
                border-radius: 4px;
            }
        }
    }

    &__tabs {
        display: flex;
        justify-content: center;

        &__button {
            color: variaveis.$corTextoDestaque;
            font-size: 20px;
            border: none;
            border-bottom: 2px solid transparent;
            padding-bottom: 5px;
            background: none;
            margin: 0 2vw;

            &--is-active {
                border-color: variaveis.$corTextoDestaque;
            }
        }
    }
}