@use 'variaveis';
@use 'hero';
@use 'shows';
@use 'films';
@use 'watch-anywhere';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: variaveis.$corDeFundo;
}

@mixin text($fontSize: 14px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize: 30px) {
    @include text($fontSize);
    color: variaveis.$corTextoSecundario
}

.text--big {
    @include text(16px);
}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

.title--big {
    @include title(36px);
    font-weight: normal;
}

.title {
    @include title;
}

.title--small {
    @include title(24px);
}

.link-text {
    @include text(18px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

.button {
    display: block;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variaveis.$corTextoSecundario;
    text-transform: uppercase;
    border-radius: 4px;
    margin-top: 2vw;
    margin-bottom: 8px;
    border: none;
}